/* Fade */
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition-duration: 300ms;
}
.fade-exit {
  display: none;
}
/* Fade right to left */
.fade-right-to-left-enter {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.fade-right-to-left-enter-active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition-duration: 300ms;
}
.fade-right-to-left-exit {
  position: absolute;
  top: 0px;
  left: 0px;
}
.fade-right-to-left-exit-active {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  transition-duration: 300ms;
}
